
#container{
    color:gray;
    font-size:60px;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    font-weight: lighter;
    left:300px;
    top:100;
}
#paris{
    color:black;
    font-weight: 600;
    font-size:60px;
    text-align: center;
    z-index: -1;
    
    
}
#first{
    color:black;
    font-weight: 600;
}
#arrow{
    position:absolute;
    left:620px;
}
#circle{
    position:absolute;
    left:800px;
    top:86px;
}
#main-container{
    display:flex;
    position:absolute;
    left:300px;
    top:280px;
    font-family: Arial, Helvetica, sans-serif;
    width:auto;
    height:350px;
}
#box1{display:flex;
    position:absolute;
    left:400px;
    top:280px;
    font-family: Arial, Helvetica, sans-serif;
    width:auto;
    height:350px;

}
.child{
    border:2px solid rgb(235, 50, 50);
    width:220px;
    margin-left:px;
    margin-right:50px;
    text-align:center;
    box-shadow:2px 1px;
    border-radius:4%;
    justify-content:space-evenly;
    box-shadow:11px 11px 6px lightgray;
    position: relative;
}
.cool{border:2px solid rgb(235, 50, 50);
    width:300px;
    margin-left:100px;
    margin-right:50px;
    text-align:center;
    box-shadow:2px 1px;
    border-radius:4%;
    justify-content:space-evenly;
    box-shadow:11px 11px 6px lightgray;
    position: relative;

}
.trip{
    position:absolute;
    font-weight: lighter;
    color:rgb(235, 50, 50);
    text-align:center;
    width:80%;
    right:0;
    text-align: left;
    border-bottom: 2px solid rgb(235, 50, 50);
    margin:0;}
.place{
    position:absolute;
    font-weight: lighter;
    color:rgb(235, 50, 50);
    text-align:center;
    width:80%;
    right:0;
    text-align: left;
    border-bottom: 2px solid rgb(235, 50, 50);
    margin:0;}


.complete{
    position:absolute;
    margin-top:110px;
    margin-bottom:30px;
    font-size:21px;
    margin-left:20px;
    color:red;
    font-weight: 700;
    text-decoration-line:line-through;
    text-decoration-thickness:3px;

    }
.completed{
        position:absolute;
        margin-top:110px;
        margin-bottom:30px;
        font-size:21px;
        margin-left:20px;
        color:red;
        font-weight: 700;
        text-decoration-line:line-through;
        text-decoration-thickness:3px;
    }
#back{color:gray;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    font-weight: lighter;
    left:700px;
    top:150px;

    }
#Add{
        color:gray;
        font-size:40px;
        font-family: Arial, Helvetica, sans-serif;
        position:absolute;
        font-weight: lighter;
        left:850px;
        top:50px;
    }
#ch{
        width:20px;
        height:20px;
    
    }
.ch1{
        
        font-size: 26px;
    }
#frm{
        position: absolute;
        top:170px;
    } 
#ch2{
        width:20px;
        height:20px;
    
    }
.ch3{
        
        font-size: 26px;
    }
#form{
        position: absolute;
        top:170px;
    } 
.next{
        width:90px;
        height:39px;
        background-color:rgba(243, 46, 46, 0.87);
        border-radius: 9px;
        display: inline;
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: center;
        color: white;
        font-size: 26px;  } 
.next1{
            width:90px;
            height:39px;
            background-color:rgba(243, 44, 44, 0.829);
            border-radius: 9px;
            display: inline;
            position: absolute;
            bottom: 10px;
            left: 20pxpx;
            text-align: center;
            color: white;
            font-size: 26px; }
#plus{
    position:absolute;
    right:10px;
    bottom: 10px;

}
.background{
        filter: blur(4px);
        position: absolute;
        width: 56%;
        height: 100%;
}

.index2_box{
    width:30rem;
    height:15rem;
    background-color: white;
    border:2px solid red;
    border-radius:1rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    box-shadow:0.4rem 0.4rem 0.5rem 0.1rem rgb(211, 211, 211);
    position: absolute;
    bottom:10rem;
    left:30rem;
}
.index2_box>p{
    font-size:1.5rem;
    color:red;
}
.index2_box>p~input[type=text]{
    width:20rem;
    height:2.5rem;
    border:2px solid red;
    border-radius:0.5rem;
    margin:0.5rem 0 1rem 0;
    box-shadow:0.1rem 0.1rem 0.3rem 0.09rem rgb(211, 211, 211);
}
.add_button{
    width:6.5rem;
    height:2.6rem;
    background-color:red;
    color: white;
    border:0;
    border-radius:1.2rem;
    font-size:1.4rem;
}

